debugpy>=1.0,<2
cmdstanpy==1.0.8
contourpy==1.0.6
convertdate==2.4.0
cryptography
cycler==0.11.0
ephem==4.1.4
fonttools==4.38.0
hijri-converter==2.2.4
holidays==0.17.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
LunarCalendar==0.0.9
matplotlib==3.6.2
numpy==1.24.0
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
prophet==1.1.1
PyMeeus==0.5.12
pyjwt
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
requests
setuptools-git==1.2
six==1.16.0
tqdm==4.64.1